body {
    background-color: #BFD7A0;
    box-sizing:border-box;
}

.logo{
    height: 50px;
    width: auto;
    padding-top: 20px;
    padding-bottom: auto;
}

.container {
    box-sizing:border-box;
    position: absolute;
    width: 90%;
    height: 70%;
    background-color: #EDEDED;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: auto;
    border-radius: 6px;
    box-shadow: 0px 6px 10px 0px rgb(48, 48, 48);
    padding: 2.5% 0% 2.5% 4%;
    overflow-x: hidden;
    overflow-y: auto;
}

.new_task_btn{
    width: 11.7%;
    height: 7%;
    background-color: #C4C4C4;
    border: 1;
    border-radius: 2px;
    align-items: center;
    display: inline;
    
}
.new_task_btn_ico{
    width: 20px;
    height: auto;
    float: left;
    padding-left: 1%;
}
.new_task_btn_text{
    color: black;
    display: inline;
    padding-left: 1%;
    font-size: 16px;
}

.input_text{
    display: inline;
    height: 6%;
    font-size: 16px;
}
.input_form{
    display: inline;
}

.option1{
    background-color: #EAEA6C;
    box-sizing: border-box;
}
.option2{
    background-color: #AEE3E5;
    box-sizing: border-box;
}
.option3{
    background-color: #F67D81;
    box-sizing: border-box;
}