body {
    background-color: #376577;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin-bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    width: 90%;
    height: 70%;
    background-color: #EDEDED;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0px 6px 10px 0px rgb(48, 48, 48);
    padding: 2% 4% 2.5% 4%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
}

.input_text {
    display: inline;
    height: 6%;
    font-size: 16px;
}

.input_form {
    display: inline-block;
    align-items: stretch;
}

.option1 {
    background-color: #EAEA6C;
    box-sizing: border-box;
}

.option2 {
    background-color: #AEE3E5;
    box-sizing: border-box;
}

.option3 {
    background-color: #F67D81;
    box-sizing: border-box;
}

.todo_item {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgb(48, 48, 48);
    border-radius: 2px;
    display: block;
    margin: 10px;
    min-height: 39px;
}

#priority {
    display: inline;
    position: absolute;
    width: 20px;
    border-radius: 2px;
    height: 100%;
}

#todo_des {
    display: inline;
    position: relative;
    box-sizing: border-box;
    height: auto;
    left: 25px;
    max-width: inherit;
    word-wrap: break-word;
    padding-right: 10px;
}

#action_button {
    display: inline;
    position: absolute;
    float: right;
    right: 0px;
    transform: translateY(-50%);
    
}

.action_button {
    display: inline-block;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 0;
    box-shadow: 0px 1px 2px 0px rgb(154, 153, 153);
}

.action_button:hover {
    box-shadow: 0px 1px 3.5px 0px rgb(33, 33, 33);
}

.action_button_img {
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
}


.prL {
    background-color: #EAEA6C;
}

.prM {
    background-color: #AEE3E5;
}

.prH {
    background-color: #F67D81;
}

.help_img {
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 0px;
}

.container::-webkit-scrollbar {
    width: 8.5px;
}

.container::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 6px;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgb(160, 160, 160);
}

.container::-webkit-scrollbar-thumb:hover {
    border-radius: 6px;
    background: rgb(117, 117, 117);
}