<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todoer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/stylesheets/main.css'>
    <script src='../static/main.js'></script>
</head>

<body>
    <center><img class="logo" src="../static/assets/logo.png" alt="logo" height="50"></center>
    <div class="container">
        <p style="font-size: 20px;">To add a new task simply follow the below instructions:</p>
        <ul style="font-size: 16px;">
            <li>Enter  the title/description of you task in the text feild.</li>
            <li>Select priority of your task from the dropdown menu.</li>
            <li>And click the New Task Button</li>
        </ul>

        <p style="font-size: 20px;">To Mark a task as completed:</p>
        <ul style="font-size: 16px;">
            <li>Click on the tick button at the end of your task title.</li>
        </ul>

        <p style="font-size: 20px;">To delete a task:</p>
        <ul style="font-size: 16px;">
            <li>Click on the delete button at the end of your task title.</li>
            <li>Enter  the title/description of you task in the text feild.</li>
        </ul>
        <p style="font-size: 20px;">If you find a bug/issue:</p>
        <ul style="font-size: 16px;">
            <li><a href="https://github.com/Ansh743/Todoer/issues">Click here</a> to file an issue onto the Todoer GitHub repository.</li>
        </ul>

        <center><p  style="font-size: 18px;">Thank you for using Todoer!</p></center>
    </div>

</body>

</html>