<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todoer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/stylesheets/main.css'>
    <script src='../static/main.js'></script>
</head>

<body>
    <center><img class="logo" src="../static/assets/logo.png" alt="logo" height="50"></center>
    <div class="container">
        <form action="/add" class="input_form" method="post">
            <select name="priority">
                <option hidden=True value="NA">Select priority</option>
                <option value="L" class="option1">
                    <div>Low</div>
                </option>
                <option value="M" class="option2">
                    <div>Moderate</div>
                </option>
                <option value="H" class="option3">
                    <div>High</div>
                </option>
            </select>
            <input type="text" name="title" placeholder="enter task here...">
            <button class="new_task_btn">
                <a href="/">
                    <img class="new_task_btn_ico" src="../static/assets/file_new.svg" alt="ico">
                    <div class="new_task_btn_text">Add Task</div>
                </a>
            </button>
        </form>

        {% for todo in todo_li %}
        <div class="todo_item">
            <p>
                {% if todo.priority == "L"%}
                    <div class="prL"></div>
                {% elif todo.priority == "M" %}
                    <div class="prM"></div>
                {% else %}
                    <div class="prH"></div>
                {% endif %}
                {% if todo.complete %}
                    <del>{{todo.title}}</del>
                {% else %}
                    {{todo.title}}
                {% endif %}
                <a class="action_button" href="/delete/{{todo.id}}">
                    <img class="action_button_img" src="../static/assets/Delete.svg" alt="ico">
                </a>
                <a class="action_button" href="/update/{{todo.id}}">
                    <img class="action_button_img" src="../static/assets/done.svg" alt="ico">
                </a>
            </p>
        </div>
        {% endfor %}
    </div>

</body>

</html>