<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Todoer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/stylesheets/signup.css'>
    <script src='../static/js/signup.js'></script>
</head>

<body>
    <center>
        <a href="/">
            <img class="logo" src="../static/assets/logo.png" alt="logo" height="50">
        </a>
    </center>
    <center>
        <div class="container">
            <h1>Login</h1>
            <form action="/signUpData" style="margin: auto; width: 220px;" method="post" name="inputform">
                <input type="text" name="username" id="username" placeholder="username" required><br>
                <input type="password" name="password" id="password" placeholder="Password" required><br>
                <button type="submit" id="submit">Login</button>
            </form>
        </div>
    </center>
    <div class="help_button">
        <a href="/about">
            <img class="help_img" src="../static/assets/Help.png" alt="">
        </a>
    </div>
    <div class="help_button">
        <a href="/about">
            <img class="help_img" src="../static/assets/Help.png" alt="">
        </a>
    </div>
</body>
</html>